.checkout {
    margin:120px 0 0 0;
  }
  
  .checkout-page-heading {
    color: #474747;
    font: 700 32px Almarai, sans-serif;
  }
  .checkout-products {
    margin-bottom: 30px;
  }
  
  .checkout-summary {
    text-align: right;
  }
  
  .checkout-summary h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .checkout-summary p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .checkout-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  