.search-bar {
    border-radius: 30px;
    box-shadow: 5px 5px 20px 0px rgba(181, 181, 181, 0.20);
    border-color: rgba(190, 190, 190, 0.5);
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    display: flex;
    max-width: 918px;
    gap: 20px;
    font-size: 24px;
    color: #949494;
    font-weight: 300;
    white-space: nowrap;
    justify-content: space-between;
    padding: 25px 30px;
  }
  
  .search-bar .search-text {
    font-family: Almarai, sans-serif;
    margin: auto 0;
  }
  
  .search-bar img {
    aspect-ratio: 1.14;
    object-fit: auto;
    object-position: center;
    width: 34px;
    fill: #6A6A6A;
  }
  
  @media (max-width: 991px) {
    .search-bar {
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  /* SearchBar.css */


.search-input {
  width: 100%;
  padding: 8px;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input {
  border: 1px solid #fff;
  padding: 8px; /* Add some padding for better appearance */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  outline: none; /* Remove default outline on focus */
  color: #000; /* Set text color */
  background-color: #fff; /* Optional: Set background color */
}

.search-input:focus {
  border-color: #fff; /* Optional: Change border color on focus */
}
